.bookstorenav{
    display: flex;
    justify-content:space-around;
    flex-wrap: wrap;
    background-color: white;
    padding: 7px;
    row-gap: 5px;
    flex-wrap: wrap;
    margin: 10px;

    ul{
        display: flex;
        list-style: none;
        gap: 30px;
        flex-wrap: wrap;

        a{
            color: black;
            text-decoration: none;

        }
        a:hover{
            text-decoration: underline;
            color: blue;
        }
        
    }
}

.bookstore{
    display: flex;
    justify-content:center;
    flex-wrap:wrap;
    // background-color: rgb(52, 48, 48);
    text-align: center;
    align-items: center;
    padding: 30px;
    row-gap:5px;
    column-gap: 5px;
    border-bottom: 2px solid black;
    .book{
        background-color: white;
        border-radius: 8px;
        padding: 15px;
        // border: 1px solid black;
        width: 200px;
        // height: 300px;
        line-height: 20px;

      button{
        margin-top: 15px;
        align-items: center;
        text-align: center;
        background-color: rebeccapurple;
        width: 100%;
        padding: 4px;
        color: white;
        border-radius: 10px;
        border-style: none;
      }
      button:hover{
        background-color: cadetblue;
        color: black;
      }
      
    }
    
 
}
