@mixin struct(){
    background-color: black;
    padding: 8px;
    display: flex;
    align-items: center;
    // justify-content:space-between;
    flex-wrap: wrap;
    color: white
}
@mixin ulmanage(){
    display: flex;
    list-style: none;
    gap:30px;
    color: white
}
.navbar1{
    @include struct();
    ul{
       @include ulmanage();
    }
    img{
        padding-right: 20px;
    }
   
}